.body-container {
  background: #c14040;
  color: #fff;
  font-family: "Bree Serif", serif;
  margin: 0;
  padding: 1rem 0.5rem 1rem 0.5rem;
  max-width: 1800px;
}

* {
  box-sizing: border-box;
}

/* Container main + footer */
main.container {
  padding: 1rem;
}

main a,
main a:visited {
  color: #f9d3d3;
  text-decoration: none;
}
main a:hover,
main a:focus {
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  max-width: 220px;
}

header a,
header a:visited {
  color: #c14040;
  text-decoration: none;
}

header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efe3e3;
  border-radius: 22px;
  padding: 1rem 1.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
}

.main_list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.main_list li {
  text-align: center;
  border-radius: 30px;
  background: #982c2c;
  transition: 0.3s ease all;
}

.main_list li:hover {
  background: #ab3838;
  transform: scale(0.98);
}

.main_list li a {
  padding: 1rem;
  display: block;
}

.main_list .name {
  font-size: 1.2rem;
}

.main-list-ul {
  padding-left: 0;
  font-size: 1rem;
}

h1 {
  text-align: center;
}

main h2 {
  font-size: 1rem;
}

.types li {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

.left_side {
  text-align: center;
}

.right_side {
  background: #ab3838;
  border-radius: 10px;
  padding: 1rem;
}

.types {
  margin-bottom: 1rem;
}

.stat {
  display: flex;
  margin-bottom: 0.5rem;
}

.stat .label {
  flex: 2;
}
.stat .stat_container {
  flex: 4;
  border-radius: 5px;
  overflow: hidden;
  background: #632b2b;
}

.stat .value {
  flex: 1;
}

.stat .bar_value {
  height: 100%;
  background: #fff;
}

.back {
  text-align: center;
  margin: 1rem auto;
  display: block;
}

.types_list .type {
  border-radius: 5px;
  position: relative;
}
.types_list .type a {
  color: #fff;
  padding: 1rem;
  text-align: center;
  display: block;
}
.types_list ul {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.6rem;
  padding: 0;
  grid-template-columns: 1fr;
}

/* Grille de Pokemon filtrée par Type */
.type_group {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}
.type_group li {
  text-align: center;
  border-radius: 30px;
}
.type_group li:hover {
  opacity: 0.9;
  transform: scale(0.98);
  transition: 0.3s ease all;
}
.type_group li a {
  padding: 1rem;
  display: block;
}
.type_group .name {
  /* Verifier si selecteur OK */
  font-size: 1.2rem;
}
.type_group-ul {
  padding-left: 0;
  font-size: 1.2rem;
}

/* Gallery by Type Title */
.type-gallery {
  font-size: 1.3rem;
}

/* Page Error 404 */
.gif {
  /* background: #ff00ff; */
  max-width: 100%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.gif p {
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10rem;
}

/* Container img + card statistic */
.d-flex {
  padding: 0.5rem;
}

div.pokemon {
  background-color: #982c2c;
  width: 150px;
  display: flex;
  flex-direction: raw;
}

/* Statitistic Card */
div.card-title {
  color: white;
  font-size: 1.5em;
}

/* Statitistic Card */
div.card {
  width: 20em;
  max-width: 50em;
  padding: 5px;
  border-radius: 30px;
}

a {
  text-decoration: none;
}

a.nav-link {
  font-size: 1rem;
}

span.badge {
  font-size: 1.2rem;
  width: 7rem;
}

h3.card-title {
  margin-bottom: 0;
}

.card-title {
  font-size: 1.2rem;
}

div.progress {
  background-color: #632b2b;
  height: 10px;
}

div.progress-bar {
  background-color: white;
}

div.progress-card {
  width: 100%;
  margin-bottom: 10px;
}

h6,
.number {
  width: 100%;
  margin-bottom: 0;
}

.number {
  font-size: 1rem;
  font-style: italic;
  margin-top: 4px;
}

@media screen and (max-width: 374px) {
  /* Grille de Pokemon filtrée par Type */
  .type_group {
    grid-template-columns: 1fr;
  }
  .main_list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 375px) {
  /* Titre gallery by Type */
  .type-gallery {
    font-size: 1.5rem;
  }
  /* Liste de tous les types */
  .types_list ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  /* Grille de Pokemon Home Page */
  .main_list {
    grid-template-columns: 1fr 1fr;
  }

  /* Grille de Pokemon filtrée par Type */
  .type_group-ul {
    font-size: 1rem;
  }
  /*Title Pokemon gallery by Type */
  .type-gallery {
    font-size: 1.8rem;
  }
  .body-container {
    padding: 1rem 1rem 1rem 1rem;
  }
  /* Liste de tous les types */
  .types_list ul {
    grid-template-columns: 1fr 1fr;
  }
  main h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .main_pokemon .wrapper {
    display: flex;
  }
  .left_side {
    flex: 2;
    margin-right: 1rem;
  }
  .right_side {
    flex: 3;
  }
}

@media screen and (min-width: 768px) {
  .progress-card {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  h6 {
    width: 30%;
  }
  .number {
    width: 20%;
  }

  /* Container img + card statistic */
  .d-flex {
    padding: 0rem;
  }
  /* Statitistic Card */
  div.card {
    width: 60em;
    max-width: 80em;
    padding: 1rem;
  }
  img {
    max-width: 300px;
  }

  /* Grille de Pokemon Home Page */
  .main_list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /*Title Pokemon gallery by Type */
  .type-gallery {
    font-size: 2.5rem;
    padding: 1rem;
  }
  /* Grille de Pokemon filtrée par Type */
  .type_group {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* Liste de tous les types */
  .types_list ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  /* Grille de Pokemon Home Page */
  .main_list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Grille de Pokemon filtrée par Type */
  .type_group {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Liste de tous les types */
  .types_list ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .gif {
    flex-wrap: nowrap;
    margin-top: 2rem;
  }
  .gif-img {
    width: 400px;
  }
  img {
    max-width: 350px;
  }
  /* Container progress bar x1  */
  div.progress {
    height: 15px;
  }
}

@media screen and (min-width: 1200px) {
  div.card {
    width: 45em;
    padding: 1rem;
    margin-top: 6rem;
  }

  img {
    max-width: 350px;
  }

  .gif {
    flex-wrap: nowrap;
    margin-top: 2rem;
  }
  .gif-img {
    width: 500px;
  }

  /* Home Page Pokemon Gallery */
  .main_list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .main-list-ul {
    font-size: 1.2rem;
  }

  /* Grille de Pokemon filtrée par Type */
  .type_group {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .type_group-ul {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .body-container {
    max-width: 2800px;
  }
  img {
    max-width: 340px;
  }

  /* Container img + statistic card */
  .d-flex {
    margin-top: 8rem;
    gap: 1rem;
  }
  /* Statitistic Card */
  div.card {
    width: 50em;
    padding: 2rem;
  }

  .logo {
    font-size: 1.5rem;
  }
  .main-list-ul {
    font-size: 1.1rem;
  }
  .type_group-ul {
    padding-left: 0;
    font-size: 1.1rem;
  }
  /* Home Page Pokemon Gallery*/
  .main_list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  /* Pokemon by Type Gallery */
  .type_group {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  /* Container progress bar x1  */
  div.progress {
    background-color: #632b2b;
    height: 20px;
  }
}
